/* ==========================================================================
    #BACKGROUND
    ========================================================================== */

html {
    width: 100%;
    height: 100%;
}

body {
    background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
    background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

@keyframes pulse {
    0% {
        background-color: #f29400;
    }
    50% {
        background-color: #e2007a;
    }
    100% {
        background-color: #f29400;
    }
}

.pouet {
    background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(black));
    background: -webkit-linear-gradient(bottom, #a18cd1 0%, black 100%);
    background: -moz-linear-gradient(bottom, #a18cd1 0%, black 100%);
    background: -o-linear-gradient(bottom, #a18cd1 0%, black 100%);
    background: linear-gradient(to top, #a18cd1 0%, black 100%);
    border-bottom: 2px solid rgb(233, 233, 233);
}

.navbar {
    background-color: rgb(0, 0, 0, 0.4);
}

.btn-outline-light:hover {
    background-color: rgb(180, 180, 180);
}
.dropdown-menu>a:hover, .dropdown-menu>a:focus {
    background-color: rgb(204, 204, 204);
}

.whitecontainer {
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
    height: auto;
    margin-top: 8%;
    margin-bottom: 8%;
}

/* ==========================================================================
     #FORM
     ========================================================================== */

input {
    background-color: rgb(252, 252, 252);
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins;
    box-sizing: border-box;
}

.register-form {
    width: auto;
}

.form-group {
    position: relative;
    padding-bottom: 2px;
    overflow: hidden;
}

.form-button {
    margin-top: 15%;
}

.signup-form {
    margin-top: 15%;
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    margin-bottom: 15%;
}

.marge-inscription {
    margin-left: 20%;
    margin-right: 20%;
}

.marge-connexion {
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
}