/* ==========================================================================
    #BACKGROUND
    ========================================================================== */

html {
    width: 100%;
    height: 100%;
}

body {
    background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
    background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

@keyframes pulse {
    0% {
        background-color: #f29400;
    }
    50% {
        background-color: #e2007a;
    }
    100% {
        background-color: #f29400;
    }
}

#nav {
    background-color: rgba(31, 31, 31, 0.877);
    opacity: 0.95;
}

.dropdown-menu>button>a {
    background-color: #39a9dc;
}

.whitecontainer {
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    height: auto;
    margin-top: 8%;

}

/* ==========================================================================
     #FORM
     ========================================================================== */

input {
    background-color: rgb(243, 243, 243);
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins;
    box-sizing: border-box;
}

.register-form {
    width: auto;
}

.form-group {
    position: relative;
    padding-bottom: 2px;
    overflow: hidden;
}

.form-button{
    
}
.form-group:last-child {
    margin-bottom: 0px;
}


.signup-form {
    width: 100%;    
    overflow: hidden;
}

.signup-content {
    padding: 10px 0;
    padding-left: 10px;
    padding-top: 10px;
}

.signup {
    margin-bottom: 15%;
}